<!DOCTYPE html>
<html lang="en" th:replace="~{layout_site :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle del curso</title>
</head>
<body>
<section>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Clase 1</h5>
                </div>
                <div class="ibox-content">
                    <figure>
                        <iframe src="https://player.vimeo.com/video/370569178" width="640" height="360" frameborder="0"
                                allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </figure>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Clase 2</h5>
                </div>
                <div class="ibox-content">
                    <figure>
                        <iframe src="https://player.vimeo.com/video/370569716" width="640" height="360" frameborder="0"
                                allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>