<!DOCTYPE html>
<html lang="en" th:replace="~{layout_site :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle del curso</title>
</head>
<body>
<section>
    <span th:each="session : ${sessions}">
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5 th:text="${session.name}"></h5>
                    </div>
                    <div class="ibox-content">
                        <figure>
                            <iframe th:src="${session.videoUrl}" width="640" height="360" frameborder="0"
                                allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </span>
</section>
</body>
</html>